# Dictionary 

- Store the values
- collection of heterogeneous (different datatypes) elements
- represented in python by {}, with key - value pairs
- Ordered datatype : Output will be not changed wrt KEYS
- Mutable Object : Any element can be modified (inset, remove, replace)
- KEYS are used to map with VALUES
- KEys are IMMUTABLE but values are MUTABLE (they are LIST definition)

**STYNTAX : dt = {k : v, k2 : v2 .....}  **

In [2]:
import pandas

dt = {"C1" : [10 , False, 6.5] , 
      "C2" : [-8 , "Nitish" , 43j] }

df = pandas.DataFrame(dt)
df

      C1      C2
0     10      -8
1  False  Nitish
2    6.5     43j

In [5]:
dt = {}

print( dt )
print( type( dt ) )

{}
<class 'dict'>

In [21]:
listName = ['python' , 
            "JAVA" , 
            False, 
            72 , 
            3.5 , 
            4j, 
            False]

print( listName )

['python', 'JAVA', False, 72, 3.5, 4j, False]

In [22]:
# ?False
print( listName[2] )
print( listName[6] )


listName[2] = True
print(listName)
print( listName[2] )

False
False
['python', 'JAVA', True, 72, 3.5, 4j, False]
True

In [8]:
# ['python' , "JAVA" , False, 72 , 3.5 , 4j, False]
#  0              1    2       3    4    5, 6  - KEYS in LIST

In [12]:
dt = {0 : 'python' , 
      1 : "JAVA" , 
      2 : False, 
      3 : 72 , 
      4 : 3.5 , 
      5 : 4j}

print( dt )
print( dt[2] )

{0: 'python', 1: 'JAVA', 2: False, 3: 72, 4: 3.5, 5: 4j}
False

In [19]:
dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print( dt )
print( dt['tt'] )
print( dt[10] )

# Values can be repeated multiple times and to represent same values, you have to use their keys

{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False}
False
False

In [23]:
dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False, 
     10 : 888}

print( dt )
print( dt['tt'] )
print( dt[10] )

# If keys are repeated multiple times, then only the LAST value it is used with will be the FINAL value

{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: 888}
False
888

In [26]:
dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False, 
     10 : 888, 
     False : 999 , 
     0 : 1111111111111111}

print(dt[False])

1111111111111111

In [30]:
# - KEys are IMMUTABLE but values are MUTABLE (they are LIST definition)


dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     66 : ("JAVA", 2 , 4 , -3) , 
     99 : {"JAVA", 2 , 4 , -3}, 
     33 : {1 : 10 , 2 : 20}}

print( dt )

{0: 'python', 1.2: ['JAVA', 2, 4, -3], 2j: False, 'ss': 72, 'my place': 3.5, True: 4j, 66: ('JAVA', 2, 4, -3), 99: {-3, 2, 4, 'JAVA'}, 33: {1: 10, 2: 20}}

In [32]:
# - KEys are IMMUTABLE but values are MUTABLE (they are LIST definition)


dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     ("JAVA", 2 , 4 , -3) : 66  , 
     99 : {"JAVA", 2 , 4 , -3}, 
     33 : {1 : 10 , 2 : 20}}

print( dt )

{0: 'python', 1.2: ['JAVA', 2, 4, -3], 2j: False, 'ss': 72, 'my place': 3.5, True: 4j, ('JAVA', 2, 4, -3): 66, 99: {-3, 2, 4, 'JAVA'}, 33: {1: 10, 2: 20}}

In [33]:
# - KEys are IMMUTABLE but values are MUTABLE (they are LIST definition)


dt = {0 : 'python' , 
      ["JAVA", 2 , 4 , -3]  : 1.2, 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     ("JAVA", 2 , 4 , -3) : 66  , 
     99 : {"JAVA", 2 , 4 , -3}, 
     33 : {1 : 10 , 2 : 20}}

print( dt )

TypeError: unhashable type: 'list'

In [34]:
# - KEys are IMMUTABLE but values are MUTABLE (they are LIST definition)


dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     ("JAVA", 2 , 4 , -3) : 66  , 
     {"JAVA", 2 , 4 , -3} : 99 , 
     33 : {1 : 10 , 2 : 20}}

print( dt )

TypeError: unhashable type: 'set'

In [35]:
# - KEys are IMMUTABLE but values are MUTABLE (they are LIST definition)


dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     ("JAVA", 2 , 4 , -3) : 66  , 
     99 : {"JAVA", 2 , 4 , -3}, 
     {1 : 10 , 2 : 20} : 33 }

print( dt )

TypeError: unhashable type: 'dict'

## Basic Operations

In [37]:
# 1. Len : it will return total key value pairs

dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     66 : ("JAVA", 2 , 4 , -3) , 
     99 : {"JAVA", 2 , 4 , -3}, 
     33 : {1 : 10 , 2 : 20}}

print( dt )
print( len(dt) )

{0: 'python', 1.2: ['JAVA', 2, 4, -3], 2j: False, 'ss': 72, 'my place': 3.5, True: 4j, 66: ('JAVA', 2, 4, -3), 99: {-3, 2, 4, 'JAVA'}, 33: {1: 10, 2: 20}}
9

In [40]:
# 2 No Index (wrt POSITIONS) and Slice

dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     66 : ("JAVA", 2 , 4 , -3) , 
     99 : {"JAVA", 2 , 4 , -3}, 
     33 : {1 : 10 , 2 : 20}}

print( dt )
# print( dt[100] )
# print( dt[1 : 3] )

{0: 'python', 1.2: ['JAVA', 2, 4, -3], 2j: False, 'ss': 72, 'my place': 3.5, True: 4j, 66: ('JAVA', 2, 4, -3), 99: {-3, 2, 4, 'JAVA'}, 33: {1: 10, 2: 20}}

TypeError: unhashable type: 'slice'

In [42]:
# 3. No concat and No repeat

# print( {1 : 10 , 2 : 20} + {3 : 30 , 4 : 40} )
# print( {1 : 10 , 2 : 20} * 3 )

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [44]:
# 4. mEMBERSHIP : 
# return TRUE if KEY is present or not ??


dt = {0 : 'python' , 
      1.2 : ["JAVA", 2 , 4 , -3] , 
      2j : False, 
      'ss' : 72 , 
      "my place" : 3.5 , 
      True : 4j, 
     66 : ("JAVA", 2 , 4 , -3) , 
     99 : {"JAVA", 2 , 4 , -3}, 
     33 : {1 : 10 , 2 : 20}}

print( dt )
print( 99 in dt )
print( 4j in dt )

{0: 'python', 1.2: ['JAVA', 2, 4, -3], 2j: False, 'ss': 72, 'my place': 3.5, True: 4j, 66: ('JAVA', 2, 4, -3), 99: {-3, 2, 4, 'JAVA'}, 33: {1: 10, 2: 20}}
True
False

# Dictionary Methods

In [46]:
print( dir(dict) )

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

-- delete from here ---

'', '', 'fromkeys', '', '', '', , 'setdefault', '', ''

In [47]:
# 1. clear - delete all key value pairs

In [48]:
# 2. copy - it will ccreate a copy of dict

In [112]:
# 3. values

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print( dt.values() )

for v in dt.values() : 
    print(v)

dict_values(['python', 'JAVA', False, 72, 3.5, 4j, False])
python
JAVA
False
72
3.5
4j
False

In [111]:
# 4. keys

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print( dt.keys() )

for k in dt.keys() : 
    print(k , " --- ", dt[k])

dict_keys([0, 'a', 'tt', 3.7, 4000, '@#$', 10])
0  ---  python
a  ---  JAVA
tt  ---  False
3.7  ---  72
4000  ---  3.5
@#$  ---  4j
10  ---  False

In [57]:
# "a" in dt.keys()

In [115]:
# 5. Pairs

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print( dt.items() )

for pair in dt.items() : 
    print(pair)

print()

for pair in dt.items() : 
    print(pair[0] , " -- ", pair[1])

dict_items([(0, 'python'), ('a', 'JAVA'), ('tt', False), (3.7, 72), (4000, 3.5), ('@#$', 4j), (10, False)])
(0, 'python')
('a', 'JAVA')
('tt', False)
(3.7, 72)
(4000, 3.5)
('@#$', 4j)
(10, False)

0  --  python
a  --  JAVA
tt  --  False
3.7  --  72
4000  --  3.5
@#$  --  4j
10  --  False

In [65]:
# 6. Read the value against the Keys
# syntax : dtName[keyName]  --> return the value if present, else error
# syntax : dtName.get(keyName, "...")  --> return the value if present, else it will give CUSTOM answer


dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

# 72 ???
print( dt[3.7] )   
print( dt.get(3.7) )

# print( dt['delhi'] ) # using conditoinal statement
# if 'delhi' in dt.keys() : print( dt['delhi'] )
# else : print("No such key")

print( dt.get('delhi', "No such key") )


print('This is END')

72
72
No such key
This is END

In [68]:
# 7. Update any value in LIST???

listName = ['python' , 
            "JAVA" , 
            False, 
            72 , 
            3.5 , 
            4j, 
            False]

print( listName )
# replace 4j by 'Nitish' ???
listName[5] = "nitish"
print( listName )

['python', 'JAVA', False, 72, 3.5, 4j, False]
['python', 'JAVA', False, 72, 3.5, 'nitish', False]

In [70]:
# 7. Update any value in DICTIOANRY???
# dtName[keyName] = value
# If key is present

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print( dt )
dt['@#$'] = 'nitish'

print( dt )

{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False}
{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 'nitish', 10: False}

In [71]:
# 8. Insert any value in LIST???

listName = ['python' , 
            "JAVA" , 
            False, 
            72 , 
            3.5 , 
            4j, 
            False]

print( listName )
# Insert 'delhi' ???

listName.append('delhi')  # append --> end of the list ; insert --> at any position
print( listName )

['python', 'JAVA', False, 72, 3.5, 4j, False]
['python', 'JAVA', False, 72, 3.5, 4j, False, 'delhi']

In [77]:
# 8. Insert any value in DICTIONARY???
# dtName[keyName] = value
# If key is not present


dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print( dt )
dt['@#$'] = 'nitish'  # Key is PRESENT       --------> UPDATE
dt.update({'a' : 'cSharp'}) # Key is PRESENT       --------> UPDATE
print(dt)

print()
dt['place'] = 'delhi' # Key is NOT PRESENT       --------> INSERT
dt.update({'new place' : 'chandigarh'}) # Key is NOT PRESENT       --------> INSERT
dt.update({0 : 'chandigarh'})  # Key is PRESENT       --------> UPDATE

print( dt )

{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False}
{0: 'python', 'a': 'cSharp', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 'nitish', 10: False}

{0: 'chandigarh', 'a': 'cSharp', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 'nitish', 10: False, 'place': 'delhi', 'new place': 'chandigarh'}

In [80]:
# 9. pop >> remove the value against the key and also return that value
# LIST --> listName.pop(position)

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

k = 4000
v = dt.pop(k) 
print( v )
print(dt)

3.5
{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, '@#$': 4j, 10: False}

In [81]:
# 9. popitem >> remove the last key-value pair 
# LIST --> listName.pop()

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

ans = dt.popitem() 
print( ans )
print(dt)

(10, False)
{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j}

In [88]:
# 10. fromkeys 

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print(dt)
print( dt.fromkeys([10 , 4000 , "a"]) )  # Use the Parent dicionary key for different purpose

{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False}
{10: None, 4000: None, 'a': None}

In [92]:
# 11. setdefault 
# Insert a key value pair, if key is not there else it will return the value

dt = {0 : 'python' , 
      'a' : "JAVA" , 
      "tt" : False, 
      3.7 : 72 , 
      4000 : 3.5 , 
      "@#$" : 4j, 
     10 : False}

print(dt)
dt.setdefault( "a" , 9999 )   
print(dt)

dt.setdefault( "x" , 9999 )   
print(dt)


ans = dt.get( "a" , 'There is no such key' )   
print(ans)

ans = dt.get( 'z' , 'There is no such key' )   
print(ans)

{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False}
{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False}
{0: 'python', 'a': 'JAVA', 'tt': False, 3.7: 72, 4000: 3.5, '@#$': 4j, 10: False, 'x': 9999}
JAVA
There is no such key

In [96]:
# Q. return the occurence of aplhabets
stringName = "goa delhi december pune raipur"

for char in stringName : 
    print( char , " ---> ", stringName.count(char) )

g  --->  1
o  --->  1
a  --->  2
   --->  4
d  --->  2
e  --->  5
l  --->  1
h  --->  1
i  --->  2
   --->  4
d  --->  2
e  --->  5
c  --->  1
e  --->  5
m  --->  1
b  --->  1
e  --->  5
r  --->  3
   --->  4
p  --->  2
u  --->  2
n  --->  1
e  --->  5
   --->  4
r  --->  3
a  --->  2
i  --->  2
p  --->  2
u  --->  2
r  --->  3

In [104]:
# Q. return the occurence of aplhabets
stringName = "goa delhi december pune raipur"

char_list = []
count_list = []
for char in stringName : 
    if char not in char_list : 
        char_list.append( char  )
        count_list.append(stringName.count(char))

print(char_list)
print(count_list)

# len(char_list) == len(count_list)
for i in range( 0, len(char_list) ) : 
    print(f"Character --> {char_list[i]} , Occurence --> {count_list[i]}")

['g', 'o', 'a', ' ', 'd', 'e', 'l', 'h', 'i', 'c', 'm', 'b', 'r', 'p', 'u', 'n']
[1, 1, 2, 4, 2, 5, 1, 1, 2, 1, 1, 1, 3, 2, 2, 1]
Character --> g , Occurence --> 1
Character --> o , Occurence --> 1
Character --> a , Occurence --> 2
Character -->   , Occurence --> 4
Character --> d , Occurence --> 2
Character --> e , Occurence --> 5
Character --> l , Occurence --> 1
Character --> h , Occurence --> 1
Character --> i , Occurence --> 2
Character --> c , Occurence --> 1
Character --> m , Occurence --> 1
Character --> b , Occurence --> 1
Character --> r , Occurence --> 3
Character --> p , Occurence --> 2
Character --> u , Occurence --> 2
Character --> n , Occurence --> 1

In [105]:
stringName = "goa delhi december pune raipur"
dt = {}

"a" not in dt

True

In [128]:
# Q. return the occurence of aplhabets
stringName = "goa delhi december pune raipur"

dt = {}
for char in stringName : 
    if char not in dt : 
        dt[char] = stringName.count(char)
    else :
#         myPlace = 10  # Its NO LOGIC linked....
        pass
print(dt)
        
for pair in dt.items() : 
#     print(pair)
    print(f"Character --> {pair[0]} , Occurence --> {pair[1]}")

{'g': 1, 'o': 1, 'a': 2, ' ': 4, 'd': 2, 'e': 5, 'l': 1, 'h': 1, 'i': 2, 'c': 1, 'm': 1, 'b': 1, 'r': 3, 'p': 2, 'u': 2, 'n': 1}
Character --> g , Occurence --> 1
Character --> o , Occurence --> 1
Character --> a , Occurence --> 2
Character -->   , Occurence --> 4
Character --> d , Occurence --> 2
Character --> e , Occurence --> 5
Character --> l , Occurence --> 1
Character --> h , Occurence --> 1
Character --> i , Occurence --> 2
Character --> c , Occurence --> 1
Character --> m , Occurence --> 1
Character --> b , Occurence --> 1
Character --> r , Occurence --> 3
Character --> p , Occurence --> 2
Character --> u , Occurence --> 2
Character --> n , Occurence --> 1

In [122]:
# Q. return the occurence of aplhabets
stringName = "goa delhi december pune raipur"

dt = {}
for char in stringName : 
    if char in dt :
        pass  # Its just like a MESSAGE on which no task is executed
#         print("---")
    else :
        dt[char] = stringName.count(char)
print(dt)
        
for pair in dt.items() : 
#     print(pair)
    print(f"Character --> {pair[0]} , Occurence --> {pair[1]}")

{'g': 1, 'o': 1, 'a': 2, ' ': 4, 'd': 2, 'e': 5, 'l': 1, 'h': 1, 'i': 2, 'c': 1, 'm': 1, 'b': 1, 'r': 3, 'p': 2, 'u': 2, 'n': 1}
Character --> g , Occurence --> 1
Character --> o , Occurence --> 1
Character --> a , Occurence --> 2
Character -->   , Occurence --> 4
Character --> d , Occurence --> 2
Character --> e , Occurence --> 5
Character --> l , Occurence --> 1
Character --> h , Occurence --> 1
Character --> i , Occurence --> 2
Character --> c , Occurence --> 1
Character --> m , Occurence --> 1
Character --> b , Occurence --> 1
Character --> r , Occurence --> 3
Character --> p , Occurence --> 2
Character --> u , Occurence --> 2
Character --> n , Occurence --> 1

In [ ]:
# Q. how many alphabets, digits and spaces are there in the string
stringName = "goa delhi 2023 @@@@@@@@@ december @pune RAIPUR @TIG999 "

In [5]:
Sname = "goa delhi 2023 @@@@@@@@@ december @pune RAIPUR @TIG999 "

a_d = {}
d_d = {}
s_d = {}
o_d = {}

for i in Sname:
    if i not in a_d and i.isalpha():
        a_d[i] = Sname.count(i)
    
    
    elif i.isdigit():
        d_d[i] = Sname.count(i)
        
    elif i == ' ':
        s_d[i] = Sname.count(i)
        
    else:
        i.isalnum == False:
        o_d[i] = Sname.count(i)
        
print(a_d)
print(d_d)
print(s_d)
print(o_d)

{'g': 1, 'o': 1, 'a': 1, 'd': 2, 'e': 5, 'l': 1, 'h': 1, 'i': 1, 'c': 1, 'm': 1, 'b': 1, 'r': 1, 'p': 1, 'u': 1, 'n': 1, 'R': 2, 'A': 1, 'I': 2, 'P': 1, 'U': 1, 'T': 1, 'G': 1}
{'2': 2, '0': 1, '3': 1, '9': 3}
{' ': 8}
{'@': 11, 'd': 2, 'e': 5, 'R': 2, 'I': 2}