# List Comprehension

- these are also single line OPERATIONS
- it can save lines of codes
- used to complete the creation of list in a single line
- write down if - else and for loop directly inside the list to create a list

-- NOT MANDATORY


**Store the values inside the list**

[ output_of_FOR for i in range() ]



**Store the values inside the list based on single IF Condition. Hint : Only SINGLE if is used**

[ output_of_IF for i in range() if EXPRESSION]


**Store the values inside the list based on single IF-ELse Condition. Hint : if-else is used**

[ output_of_IF if EXPRESSION else output_of_Else for i in range() ]

In [2]:
# **Store the values inside the list**
# [ output_of_FOR for i in range() ]


# take 3 place name from the user and storre inside the LIST...

places = []
for i in range(0 , 3) : 
    
    placeName = input("Write Place Name : ")
    places.append(placeName)

Write Place Name : delhi
Write Place Name : mumbai
Write Place Name : chenna

In [3]:
places

['delhi', 'mumbai', 'chenna']

In [4]:
# take 3 place name from the user and storre inside the LIST...

places = [input("Write Place Name : ") for i in range(3)]
places

Write Place Name : delhi
Write Place Name : mumbai
Write Place Name : chennai

['delhi', 'mumbai', 'chennai']

In [7]:
# merge all the values and create a string with seperation as " "
# "python java ruby php 3 4 10.3 False"

myList = ["python" , "java" , 'ruby' , 'php' , 3 , 4 , 10.3 , False]

# " ".join(myList)
newList = []
for element in myList : 
    newList.append( str(element) )

print("New List -> ", newList)
res = " ".join(newList)
print( res )

New List ->  ['python', 'java', 'ruby', 'php', '3', '4', '10.3', 'False']
python java ruby php 3 4 10.3 False

In [9]:
# merge all the values and create a string with seperation as " "
# "python java ruby php 3 4 10.3 False"

myList = ["python" , "java" , 'ruby' , 'php' , 3 , 4 , 10.3 , False]

newList = [str(element) for element in myList]
print("New List -> ", newList)
res = " ".join(newList)
print( res )

New List ->  ['python', 'java', 'ruby', 'php', '3', '4', '10.3', 'False']
python java ruby php 3 4 10.3 False

In [10]:
# merge all the values and create a string with seperation as " "
# "python java ruby php 3 4 10.3 False"

myList = ["python" , "java" , 'ruby' , 'php' , 3 , 4 , 10.3 , False]

res = " ".join([str(element) for element in myList])
print( res )

python java ruby php 3 4 10.3 False

In [15]:
# create a new list with square of numbers...
inputList =  [5 , -2 , -8 , 6 , 4 , 11 , -10]

finalList = []
for num in inputList : 
#     print(num, num ** 2)
    finalList.append(num ** 2)

print(finalList)


finalList = [ num ** 2 for num in inputList ]
print(finalList)

finalList = [ inputList[i] ** 2 for i in range(0 , len(inputList) ) ]
print(finalList)

[25, 4, 64, 36, 16, 121, 100]
[25, 4, 64, 36, 16, 121, 100]
[25, 4, 64, 36, 16, 121, 100]

In [17]:
# **Store the values inside the list based on single IF Condition**
# [ output_of_IF for i in range() if EXPRESSION]

# take 5 numbers from the user and if they are positive, then i will save thier squares


inputList =  [5 , -2 , -8 , 6 , 4 , 11 , -10]
ans = []

for num in inputList : 
    if num > 0 : 
        print(num ** 2)
        ans.append(num ** 2)


print(ans)

25
36
16
121
[25, 36, 16, 121]

In [18]:
ans = [   num ** 2 for num in inputList if num > 0                      ]
ans

[25, 36, 16, 121]

In [20]:
# take 5 numbers from the user and if they are negative, then it will save thier squares, else save their sqiuareroots.
# inputList = [5 , -2 , -8 , 6 , 4 , 11 , -10]

ans = []
for num in inputList : 
    if num > 0 : ans.append( round( num ** 0.5, 2 )   )
    else : ans.append(num ** 2)

ans

[2.24, 4, 64, 2.45, 2.0, 3.32, 100]

In [21]:
ans = [ round(num**0.5, 2) if num > 0 else num **2     for num in inputList ]
ans

[2.24, 4, 64, 2.45, 2.0, 3.32, 100]