# Ternary Operations


- Single line conditional statements
- Dont use PRINT inside ternary operations....

**syntax :  output_of_IF if EXPRESSION else output_of_ELSE**

**syntax :  output_of_IF if EXPRESSION else (output_of_IF if EXPRESSION else output_of_ELSE)**

**syntax :  output_of_IF if EXPRESSION else (......)**

In [6]:
# weathers its even or odd...

num = 1
if num%2 == 0 : 
    print("Even")
else : 
    print("Odd")


if num%2 == 0 : print("Even")
else :     print("Odd")

ans =     "Even" if num%2 == 0 else "Odd"
print(ans)

Odd
Odd
Odd

In [8]:
# If number is negative, display its ABSOLUTE value, else show its SQUARE value

# num = 5, display = 25
# num = -5, display = 5


num = int( input("Write Number --> " ) )

ans = -num if num < 0 else num ** 2
print(f"Number -> {num} , Answer -> {ans}")


# Use loop to repeat n times....

Write Number --> 10
Number -> 10 , Answer -> 100

In [23]:
# which  number is larger...

num_1 = 100
num_2 = 1000

if num_1 > num_2 : 
    print(f"Number 1 is larger")
elif num_2 > num_1 : 
    print(f"Number 2 is larger")
else : 
    print(f"Both are Equal")

Number 2 is larger

In [26]:
num_1 = 10
num_2 = 10

ans = "Number 1 is larger" if num_1 > num_2 else ("Number 2 is larger" if num_2 > num_1 else "Both are Equal"   )
print(ans)

Both are Equal

In [31]:
num_1 = 10
num_2 = 100

print(f"Condition --> {1 if num_1 > num_2 else 0 }")
print(f"['blue', 'red'][{1 if num_1 > num_2 else 0}]")

ans = ['blue', 'red'][1 if num_1 > num_2 else 0 ]  # List Index + Ternary => List Ternary
print(ans)

Condition --> 0
['blue', 'red'][0]
blue

In [41]:
num_1 = 100
num_2 = 10

print("Ternary answer -> ", 0 if num_1 > num_2 else ( 1 if num_2 > num_1 else 2))
ans = ('blue', 'red' , 'yellow')[0 if num_1 > num_2 else ( 1 if num_2 > num_1 else 2) ] # Tuple Indexing : ()[] 
print(ans)

Ternary answer ->  0
blue