# Filter


- these are single line functions 
- they are used to apply the function on each value inside the sequence
- fetch the values from the sequence if the expression is True
- the output sequence length is less than or equal to inout sequence
- element values DOES NOT CHANGE

**Syntax : filter(functionName, sequenceName)  **

sequenceName - list, typle, set
functionName <- def, lambda

In [1]:
eo_2 = lambda x : "Even" if x%2 == 0 else "Odd"

print( eo_2(10) )
print( eo_2(1) )

Even
Odd
<class 'function'>

In [4]:
# get the even values only

input_list = [2 , 7 , 4 , 5 , 6 , 1 , 10 , 3]
final_list = [ x for x in input_list if x%2 == 0 ]
print( final_list )

# for x in input_list : 
#     if x%2 == 0 : print(x)

[2, 4, 6, 10]
2
4
6
10

In [6]:
def even_odd_fun_1(num) : 
    if num%2 == 0 : return True
    else : return False
        
even_odd_fun_2 = lambda num : True if num%2 == 0 else False
#                         2  /
#                         7 X
#                         4 /
#                         5 X

input_list = [2 , 7 , 4 , 5 , 6 , 1 , 10 , 3]

ans = list( filter( even_odd_fun_1, input_list ) )  # FOR LOOP is used at the backend
print(ans)

ans = list( filter( even_odd_fun_2, input_list ) )
print(ans)

[2, 4, 6, 10]
[2, 4, 6, 10]

In [14]:
filter( even_odd_fun_1, input_list )

In [15]:
tuple( filter( even_odd_fun_1, input_list ) )

(2, 4, 6, 10)

In [41]:
input_list = [2 , 7 , 4 , 5 , 6 , 1 , 10 , 3]

ans = list( filter( lambda num : num * 10 if num%2 == 0 else False, input_list ) )
print(ans)

[2, 4, 6, 10]

In [ ]:
# num * 10 -- TRUE

In [13]:
# given you a list of fruits name, you have to find the fruits that contain 'apple'?

fruits = [' apple   ' , 'ManGO   ',  "  pineAPPLE " , "  custard AppLE" , ' graPES ' , "KiWi  " , '  cherRy']
# ans = [' apple   ' , "  pineAPPLE " , "  custard AppLE"] # # list comprehension

ans = [ word for word in fruits if "apple" in word.strip().lower()  ]
ans

[' apple   ', '  pineAPPLE ', '  custard AppLE']

In [16]:
# ' apple   '
fruit_fun = lambda f : True if "apple" in f.lower().strip() else False
fruits = [' apple   ' , 'ManGO   ',  "  pineAPPLE " , "  custard AppLE" , ' graPES ' , "KiWi  " , '  cherRy']

ans = list( filter( fruit_fun, fruits ) )
ans

[' apple   ', '  pineAPPLE ', '  custard AppLE']

In [38]:
# given a list, find out the integer number from the list...

#  listName = [ 40 , 25 , "Delhi" ,  [3.5 , True, 5, 'Pune', 10j , -7.7] , False ]   # def 
#  listName = [ 40 , 25 , "Delhi" ,  3.5 , True, 5, 'Pune', 10j , -7.7 , False ]  # lambda as single for loop

listName = [ 40 , 25 , "Delhi" ,  3.5 , True, 5, 'Pune', 10j , -7.7 , False ]  # lambda as single for loop

ans = list( filter(  lambda x : True if isinstance(x, int) else False  , listName) )
ans

[40, 25, True, 5, False]

In [19]:
# listName = [ 40 , 25 , "Delhi" ,  [3.5 , True, 5, 'Pune', 10j , -7.7] , False ]   # def 

ans = []
for element in listName : 
    if isinstance( element, list ) : 
        for e in element :   #  [3.5 , True, 5, 'Pune', 10j , -7.7]
            if isinstance( e, int ) and not( isinstance( e, bool ) ) : 
                ans.append(e)
print( ans )

[2, 5, -7]

In [39]:
# ***
#  40
# [-1.1 , 2 , 'Jaipur' , 4j]
listName = [ 40 , 25 , "Delhi" , [-1.1 , 2 , 'Jaipur' , 4j] ,   [3.5 , True, 5, 'Pune', 10j , -7] , False ]

def find_int(element) : 
    if isinstance(element, list) : 
        for e in element :   
            if isinstance( e, int ) and not( isinstance( e, bool ) ) : return "nitish"
    else : return 0
                
ans = list( filter( find_int, listName ) )
ans

[[-1.1, 2, 'Jaipur', 4j], [3.5, True, 5, 'Pune', 10j, -7]]

# Map


- these are single line functions 
- they are used to apply the function on each value inside the sequence

- applies the function and that element can change the value

- the output sequence length is equal to input sequence
- element values MAY or MAY NOT CHANGE

**Syntax : map(functionName, sequenceName)  **

sequenceName - list, typle, set
functionName <- def, lambda

In [42]:
# Find the square of the number ...

def sq_1(x) : 
    return x ** 2

print( sq_1(3) )
print( sq_1(-5) )

print()

sq_2 = lambda x : x ** 2

print( sq_2(3) )
print( sq_2(-5) )

9
25

9
25

In [45]:
input_list = [2 , 7 , 4 , 5 , 6 , 1 , 10 , 3]

ans = list( map( lambda x : x ** 2  , input_list ) )
ans

[4, 49, 16, 25, 36, 1, 100, 9]

In [ ]:
c1  c2    c3
1   3.4  "ngv"
2   5.6  "hj"

In [49]:
input_list = [2.5 , -7.7 , 4 , 5 , 6.245 , 1 , -10.6542 , 3]

ans = list( map( int  , input_list ) )
ans

[2, -7, 4, 5, 6, 1, -10, 3]

In [50]:
# given you a list of fruits name, if fruit is 'apple' then , 
# you have to convert that to UPPERCASE , else convert to LOWER format..

fruits = [' apple   ' , 'ManGO   ',  "  pineAPPLE " , "  custard AppLE" , ' graPES ' , "KiWi  " , '  cherRy']
ans = [ word.strip().upper() if "apple" in word.strip().lower() else  word.lower().strip() for word in fruits   ]
ans

['APPLE', 'mango', 'PINEAPPLE', 'CUSTARD APPLE', 'grapes', 'kiwi', 'cherry']

In [51]:
fruit_fun_2 = lambda word : word.strip().upper() if "apple" in word.strip().lower() else  word.lower().strip()
ans = list( map(  fruit_fun_2  , fruits) )
ans

['APPLE', 'mango', 'PINEAPPLE', 'CUSTARD APPLE', 'grapes', 'kiwi', 'cherry']

In [52]:
fruit_fun_2 = lambda word : word.strip().upper() if "apple" in word.strip().lower() else  word.lower().strip()
ans = list( filter(  fruit_fun_2  , fruits) )
ans

[' apple   ',
 'ManGO   ',
 '  pineAPPLE ',
 '  custard AppLE',
 ' graPES ',
 'KiWi  ',
 '  cherRy']

In [ ]:
# word.strip().upper() - TRUE
# word.lower().strip() - TRUE

In [4]:

input_list = [2 , 7 , 4 , 5 , 6 , 1 , 10 , 3]

evod = lambda e : True if e%2 == 0 else False 

nl = list(filter(evod,input_list))

nl

[2, 4, 6, 10]

In [6]:
# given you a list of fruits name, you have to find the fruits that contain 'apple'?

fruits = [' apple   ' , 'ManGO   ',  "  pineAPPLE " , "  custard AppLE" , ' graPES ' , "KiWi  " , '  cherRy']

def one(f):
    if 'apple' in f.lower().strip():
        return f
    
answ = list(filter(one,fruits))
answ

[' apple   ', '  pineAPPLE ', '  custard AppLE']

In [9]:
fruits = [' apple   ' , 'ManGO   ',  "  pineAPPLE " , "  custard AppLE" , ' graPES ' , "KiWi  " , '  cherRy']

two = lambda g : True if 'apple' in g.lower().strip() else False

answer = list(filter(two,fruits))

answer

[' apple   ', '  pineAPPLE ', '  custard AppLE']

In [ ]:
# given a list, find out the integer number from the list...

#  listName = [ 40 , 25 , "Delhi" ,  [3.5 , True, 5, 'Pune', 10j , -7.7] , False ]   # def 
#  listName = [ 40 , 25 , "Delhi" ,  3.5 , True, 5, 'Pune', 10j , -7.7 , False ]  # lambda as single for loop

In [12]:
listName = [ 40 , 25 , "Delhi" ,  [3.5 , True, 5, 'Pune', 10j , -7.7] , False ]

res = []

for i  in listName:
    if isinstance(i,list):
        for j in i:
            if isinstance (j,int) == True and isinstance (j,bool) == False:
                res.append(j)
                
    
res

[5]

In [14]:
def integar(x):
    
    if isinstance (x,list):
        for j in x:
            if isinstance(j,int) == True and isinstance(j,bool) == False:
                return j
            
listName = [ 40 , 25 , "Delhi" ,  [3.5 , True, 5, 'Pune', 10j , -7.7] , False ]


result = list(filter(integar,listName))
result

[[3.5, True, 5, 'Pune', 10j, -7.7]]

In [18]:
input_list = [2 , 7 , 4 , 5 , 6 , 1 , 10 , 3]

def sq1(y):
    
    return y**2

ult = list(map(sq1,input_list))

print(ult)

sq2 = lambda z : z**2

ult_1 = list(map(sq2,input_list))

print(ult_1)

[4, 49, 16, 25, 36, 1, 100, 9]
[4, 49, 16, 25, 36, 1, 100, 9]

In [21]:
# given you a list of fruits name, if fruit is 'apple' then , 
# you have to convert that to UPPERCASE , else convert to LOWER format..

fruits = [' apple   ' , 'ManGO   ',  "  pineAPPLE " , "  custard AppLE" , ' graPES ' , "KiWi  " , '  cherRy']

f_change = list(map(lambda f : f.upper() if 'apple' in f.lower().strip() else f.lower(),fruits))

f_change

[' APPLE   ',
 'mango   ',
 '  PINEAPPLE ',
 '  CUSTARD APPLE',
 ' grapes ',
 'kiwi  ',
 '  cherry']