# Agenda

How to write?

variables , comments, literals

data types

operators

In [ ]:
# PVM is smart enough to understand the values and relate to its data type....
# Hence Python is Dynamically Typed language

# Python is an Object Oriented Language
# Everythong that you write in Python is an object ( variables + literals )

In [ ]:
var = 103
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

In [ ]:
var = 103.25
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

In [ ]:
var = "hello"
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

In [ ]:
var = False
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

In [ ]:
var = 25j
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

In [ ]:
var = []
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

In [ ]:
var = ()
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )

## Comment 

- they are just information that you write for the code
- they are not executed
- represented by pound (#)  --> SIngle line comment

In [ ]:
var = ()  # this is Tuple
print("Value of variable : ", var)
print("Data type of variable : ", type ( var ) )


# this is comment
print("10 - 6 --> ", 10 - 6)

## Literals

- they are the values themselves
- they are present on right side of =

In [ ]:
103

21.58

"Hello"

10 - 10j

True

[1 , 2]


"""
Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically typed and garbage-collected. 
It supports multiple programming paradigms, including structured (particularly procedural), 
object-oriented and functional programming. 

"""

print()

## Variables

- they are used to save the values
- they are present on left side of =

In [ ]:
x = 103

y = 21.58

z = "Hello"

w = 10 - 10j

t = True

lt = [1 , 2]


print()

In [ ]:
res = 103 + 21.58
res = x + y

# Data Types

### Fundamental Data types

- string, integer , float, boolean , complex


### derived Data types

- list [] , tuple  ()  , dictionary {}  , sets { '' }

### type ( var ) 

- its a inbuilt funtion that tells about the data type of the variable or literals

In [ ]:

"""

### type ( var ) 

- its a inbuilt funtion that tells about the data type of the variable or literals

"""

print( type( 100 ) )

In [ ]:
number = 100

print( type( number ) )

## 1. strings : 

- collection of characters (letters + number + spl symbols)
- SINGLE LINE STRINGS :: write them in the pair of single '' or double ""
- Multiple LINE STRINGS :: write them in the pair of TRIPLE single ''' ''' or double """ """

- data type for them is 'str'

In [ ]:
m1 = 'python'
m2 = "$"
m3 = "python batch 2023"

In [ ]:
print( m1, type(m1) )

In [ ]:
print( m2, type(m2) )

In [ ]:
print( m3, type(m3) )

In [ ]:
m4 = "this is 'GOLD' car"

print( m4, type(m4) )

In [1]:
m5 = 'this is "SILVER" "" "" """ """""""""""""""" car'

print( m5, type(m5) )

this is "SILVER" "" "" """ """""""""""""""" car <class 'str'>

In [2]:
m4 = "this is nitish""""s car"

print( m4, type(m4) )

SyntaxError: incomplete input (3553876888.py, line 1)

In [3]:
data = '''
Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically typed and garbage-collected. 
It supports multiple programming paradigms, including structured (particularly procedural), 
object-oriented and functional programming. 

'''


print(type( data) )
print(data)

<class 'str'>

Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically typed and garbage-collected.
It supports multiple programming paradigms, including structured (particularly procedural),
object-oriented and functional programming.

In [4]:
data = """
Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically typed and garbage-collected. 
It supports multiple programming paradigms, including structured (particularly procedural), 
object-oriented and functional programming. 

"""


print(type( data) )
print(data)

<class 'str'>

Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.

Python is dynamically typed and garbage-collected.
It supports multiple programming paradigms, including structured (particularly procedural),
object-oriented and functional programming.

## 2. Integer : 

- Any DISCRETE number
- data type for them is 'int'

In [ ]:
num_1 = 104

print( num_1, type(num_1) )

In [ ]:
num_1 = -30

print( num_1, type(num_1) )

## 3. Float : 

- Any CONTINUOS number
- data type for them is 'float'

In [ ]:
num_1 = 104.25

print( num_1, type(num_1) )

In [ ]:
num_1 = -30.11

print( num_1, type(num_1) )

## 4. Complex : 

- Any number in format real + imaginary(j)
- data type for them is 'complex'
- iota is squareroot of -1

In [ ]:
num_1 = 10-20j

print( num_1, type(num_1) )

In [ ]:
num_1 = -5j

print( num_1, type(num_1) )

## 5. Booleans : 

- True (1) and False (0 )
- True is anything that is logically correct
- Any value is TRUE

- False is anything that is logically INcorrect
- Any non-value is FALSE

- data type for them is 'bool'

In [ ]:
print( 10 > 20 )  # comparison operator

In [ ]:
print( (10 > 20) or (25 < 20) )  # logical operator

## 6. Type casting : 

- Changing one datatype to another
- we use built in functions to convert them

- SYNTAX : How to Write
 
 : functionName( variable / value )

In [ ]:
old_variable = 258
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = str( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

In [5]:
old_variable = 63.458458
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = int( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

Old Value :  63.458458
Data Type of Old Value :  <class 'float'>
New Value :  63
Data Type of New Value :  <class 'int'>

In [ ]:
old_variable = "100"
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = int( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

In [6]:
old_variable = "python"
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = int( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

Old Value :  python
Data Type of Old Value :  <class 'str'>

ValueError: invalid literal for int() with base 10: 'python'

In [ ]:

new_variable = int( 50.246 )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

In [ ]:
old_variable = 1
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = bool( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

In [ ]:
old_variable = 0
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = bool( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

In [ ]:
old_variable = True
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = int( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

In [ ]:
old_variable = False
print("Old Value : ", old_variable)
print("Data Type of Old Value : ", type( old_variable )  )


new_variable = int( old_variable )
print("New Value : ", new_variable)
print("Data Type of New Value : ", type( new_variable )  )

# Operators

## 1. Airthmetic Operators

######   + - * / % ** //

In [ ]:
print( 10 - 3 )
print( 10 + 3 )
print( 10 * 3 )
print( 10 / 3 )

In [ ]:
print( 10 ** 3 ) #power
print( 64 ** 0.5 ) #power

In [ ]:
print( 10 % 3 )  # Remainder

20 (dividend) = 3(divisor) * 6 (quotient) + 2 (remainder)

In [7]:
print( 20 / 3 )  # division
print( 20 % 3 )  # Remainder

print( 20 // 3 )  # quotient or Integer Division

6.666666666666667
2
6

In [ ]:
int(6.666666666666667)

In [ ]:
print( 90 / 8 )  # division
print( 90 // 8 )  # quotient or Integer Division

In [ ]:
int(11.25)

In [ ]:
print( 100 / 7 )  # division
print( 100 // 7 )  # quotient or Integer Division

In [ ]:
int(14.285714285714286)

## 2. Comparison or Relational Operators

######   < > >= <= == != 

- return True if logic os Correct else False

In [ ]:
print( 10 > 5 )

In [ ]:
print( 3 > 5 )

In [ ]:
print( 10 == 10 )  # Is both  Equal

In [ ]:
print( 10 != 10 )  # Is both  UnEqual

In [ ]:
print( 10 != 3 )  # Is both  UnEqual

## 3. Assignment Operators

######   =

- it helps to assign a value to the variable
- assumption, values are on RHS of = and variables are LHS of =

In [ ]:
x = 10
y = 20 
# 30 = z

## 4. Membership

######   in

- SYNTAX : element in sequence

- return True if element is present inside the sequence (string, list, tuple, sets, dictionary), else False

In [ ]:
print( "t" in "python" )

In [ ]:
print( "P" in "python" )

In [ ]:
print( "N" in "python" )

In [ ]:
x = 10
X = 20

In [ ]:
print(x)
print(X)

In [ ]:
print(x == X)

## 5. Logical

######   and or not

### And

- return TRUE if ALL the expressions are TRUE


Operation_1 Operation_2  OUTPUT
True        True         True
False        True         False
True        False         False
False        False         False

In [ ]:
print( 25 > 15 )
print( 10 < 1 )

In [ ]:
output = (25 > 15) and (10 < 1)   # T and F
print('Output' , output)

In [ ]:
output = (25 < 15) and (10 < 1)  # F and F
print('Output' , output)

In [ ]:
output = (25 > 15) and (10 > 1)  # T and T
print('Output' , output)

In [ ]:
output = (25 < 15) and (10 > 1)  # F and T
print('Output' , output)

In [ ]:
### precedence Order....

# BODMAS rule ???
# (25 > 15) and (10 < 1)
# solve     and  solve


# 25 > 15 and 10 < 1

### OR

- return FALSE if ALL the expressions are FALSE


Operation_1 Operation_2  OUTPUT
True        True         True
False        True         True
True        False         True
False        False         False

In [5]:
output = (25 > 15) or (10 < 1)   # T and F
print('Output' , output)

Output True

In [6]:
output = (25 < 15) or (10 < 1)  # F and F
print('Output' , output)

Output False

In [7]:
output = (25 > 15) or (10 > 1)  # T and T
print('Output' , output)

Output True

In [8]:
output = (25 < 15) or (10 > 1)  # F and T
print('Output' , output)

Output True

### NOT

- return FALSE if the expression is TRUE or vice-versa

In [9]:
print( 25 > 15 )
print( 10 < 1 )

True
False

In [10]:
print( not(25 > 15) )
print( not(10 < 1) )

False
True

In [11]:
print( True and False )
print( False and False )
print( False and True )
print( True and True )

False
False
False
True

In [12]:
print( 1 and 0 )
print( 1 and 0 )
print( 0 and 1 )
print( 1 and 1 )

0
0
0
1

In [ ]:
# MB file ???
# 1 mb = 1024 bytes
# 1 byte = 8 bits??

# 1 's and 0 's

## 6. Bitwise Operators

###### bitwise and , or,  xor , nor, left shift, right shift

######   talking about bits here

In [8]:
print( 10 & 5 )  # bitwise and

0

In [ ]:
binary of 10 is 1010
binary of 5 is 0101
binary of 6 is 0110

In [ ]:
1 0 1 0
0 1 0 1

0 0 0 0

In [15]:
print( bin(10) )
print( bin(5) )
print( int(0b0000) )

0b1010
0b101
0

In [18]:

print( 10 & 6 )  # bitwise and

2

In [17]:
print( bin(10) )  # convert integer to binary
print( bin(6) )
print( int(0b0010) ) # convert binary to integer

0b1010
0b110
2

In [ ]:
1 0 1 0
0 1 1 0

0 0 1 0

In [20]:
print( 10 | 5 )  # bitwise or

15

In [ ]:
1 0 1 0
0 1 0 1

1 1 1 1

In [19]:
print( int(0b1111) ) # convert binary to integer

15