In [11]:
'''
check if word is a palindrome or not

left to right = right to left
madam <==> madam : palindrome
mAdam <==> madAm : not a palindrome
'''

word = input("Write down the Word :").strip()

if word[ : : 1] == word[ : : -1] : 
    print("Its a Palindrome")
else : 
    print("Its NOT a Palindrome")

Write down the Word :    madam
Its a Palindrome

In [7]:
w = "kpPk"
w[ : : 1]

'kpPk'

In [8]:
w = "kpPk"
w[ : : -1]

'kPpk'

In [17]:
"""
check if word (ONLY LETTERS) is a palindrome or not

left to right = right to left
madam <==> madam : palindrome
mAdam <==> madAm : not a palindrome

word = "  987m45321a230+-*/!@d#$%a^&*()][;';.m,|']          "
word = "  987m45321A230+-*/!@d#$%a^&*()][;';.M,|']          "

"""



word = "  987m45321a230+-*/!@d#$%a^&*()][;';.m,|']          "

for pos in range( 0 , len(word) ) : 
    print(pos, word[pos])

0
1
2 9
3 8
4 7
5 m
6 4
7 5
8 3
9 2
10 1
11 a
12 2
13 3
14 0
15 +
16 -
17 *
18 /
19 !
20 @
21 d
22 #
23 $
24 %
25 a
26 ^
27 &
28 *
29 (
30 )
31 ]
32 [
33 ;
34 '
35 ;
36 .
37 m
38 ,
39 |
40 '
41 ]
42
43
44
45
46
47
48
49
50
51

In [26]:
# word = "  987m45321a230+-*/!@d#$%a^&*()][;';.m,|']          "
word = "  987m45321A230+-*/!@d#$%a^&*()][;';.M,|']          "

new_word = ""
for pos in range( 0 , len(word) ) : 
    if word[pos].isalpha() : 
        new_word = new_word + word[pos]
#         print(pos, word[pos])
#         print(new_word)
#         print()
print('new word : ', new_word)

if new_word[ : : 1] == new_word[ : : -1] : 
    print("Its a Palindrome")
else : 
    print("Its NOT a Palindrome")

new word :  mAdaM
Its NOT a Palindrome

In [9]:
inputList = ["madam" , 15951 , False , " 88588   " , 'nOoN' , "Ab11BA    ", "zebra   "]
for idx, i in enumerate(inputList):
    if str(i).lower().strip() == str(i)[::-1].lower().strip():
        inputList[idx ]= 'Palindrome'
    else:
        inputList[idx] = 'Not Palindrome'
print(inputList)

['Palindrome', 'Palindrome', 'Not Palindrome', 'Palindrome', 'Palindrome', 'Palindrome', 'Not Palindrome']

In [ ]:
# Find if words are in palindrome or not. it doesnot matter for now weather value in list is different datatype  :
inputList = ["madam" , 15951 , False , " 88588   " , 'nOoN' , "Ab11BA    ", "zebra   "]
 
# Expected : 
"madam" => Palindrome
15951  => Palindrome
False  => Not Palindrome
" 88588   "  => Palindrome
'nOoN'  => Palindrome
"Ab11BA    " => Palindrome
"zebra   " => Not Palindrome

In [ ]:
Played crosswords / Puzzles
Given some question : HINT is Anagram

Anargams
silent and listen
eat and ate
pool and loop

Not Anargams
silent and listens
eat and two
pool and pooling


# *****

In [31]:
# find out the email from the message
# find out the otp from the message

message = "We have shared an OTP 5246 on your mail abc@gmail.com too"

res = ''
for char in message : 
    if char.isdigit() : 
#         print(char)
        res = res + char
    
print("OTP : ", res)

OTP :  5246

In [36]:
# find out the email from the message
# find out the otp from the message

message = "We have shared an OTP 5246 on your mail abc@gmail.com too"

res = message.split(" ")
print(res)

for element in res : 
    if element.isdigit() : 
        print(element)

['We', 'have', 'shared', 'an', 'OTP', '5246', 'on', 'your', 'mail', 'abc@gmail.com', 'too']
5246

In [32]:
# find out the email from the message
# find out the otp from the message

message = "We have shared an OTP 5246 on your mail abc@gmail.com too and 8547854785"

res = ''
for char in message : 
    if char.isdigit() : 
#         print(char)
        res = res + char
    
print("OTP : ", res)

OTP :  52468547854785

In [38]:
# Find the Mobile Number

message = "We have shared an OTP 5246 on your mail abc@gmail.com too and 8547854785"

res = message.split(" ")
print(res)

for element in res : 
    if element.isdigit() : 
        print(element)

        
# Extract Mobile Number
for element in res : 
    if element.isdigit() and ( len(element) == 10  ) : 
        print("Mobile Numbers : ", element)

['We', 'have', 'shared', 'an', 'OTP', '5246', 'on', 'your', 'mail', 'abc@gmail.com', 'too', 'and', '8547854785']
5246
8547854785
Mobile Numbers :  8547854785

In [40]:
# Store all the mobile numbers
message = "We have shared an OTP 5246 on your mail abc@gmail.com too and 8547854785 and 9696969696 and 011-26594671"

phone_numbers = []
res = message.split(" ")
print(res)

# Extract Mobile Number
for element in res : 
    if element.isdigit() and ( len(element) == 10  ) : 
#         print("Mobile Numbers : ", element)
        phone_numbers.append(element)
print(phone_numbers)

['We', 'have', 'shared', 'an', 'OTP', '5246', 'on', 'your', 'mail', 'abc@gmail.com', 'too', 'and', '8547854785', 'and', '9696969696', 'and', '011-26594671']
['8547854785', '9696969696']

In [44]:
# Find the Email address (step1)

message = "We have shared an OTP 5246 on your mail abc@gmail.com too and 8547854785 and nitish@hotmail@com"

res = message.split(" ")
print(res)

for element in res : 
    if ( '@' in element )  : 
        print("Email : ", element)

print("-----------------------")
        
for element in res : 
    if ( '@' in element ) and ( element.count("@") == 1 ) : 
        print("Email : ", element)

['We', 'have', 'shared', 'an', 'OTP', '5246', 'on', 'your', 'mail', 'abc@gmail.com', 'too', 'and', '8547854785', 'and', 'nitish@hotmail@com']
Email :  abc@gmail.com
Email :  nitish@hotmail@com
-----------------------
Email :  abc@gmail.com

In [47]:
# Find the Email addresses (step1)

message = "We have shared an OTP 5246 on your mail abc@gmail.com too and 8547854785 and nitish@hotmail@com and ayush@yahoo.in"

res = message.split(" ")
print(res)

emails = []
for element in res : 
    if ( '@' in element ) and ( element.count("@") == 1 ) : 
#         print("Email : ", element)
        emails.append(element)
print(emails)

['We', 'have', 'shared', 'an', 'OTP', '5246', 'on', 'your', 'mail', 'abc@gmail.com', 'too', 'and', '8547854785', 'and', 'nitish@hotmail@com', 'and', 'ayush@yahoo.in']
['abc@gmail.com', 'ayush@yahoo.in']

In [16]:
"""
Q. Find the factorial of the number
factorial of number is defined by the multiplication of numbers from 1 to number itself

5! = 5 * 4 * 3 * 2 * 1
5!  = 1 * 2 * 3 * 4 * 5

0! = 1
factorial of negative numbers does not exist
"""

number = 5
totalProduct = 1 # fact
for i in range(1 , number + 1) : 
     print( "totalProduct : " , totalProduct, ", i : " ,  i , "... totalProduct * i --> ", totalProduct*i)
     totalProduct = totalProduct * i

totalProduct :  1 , i :  1 ... totalProduct * i -->  1
totalProduct :  1 , i :  2 ... totalProduct * i -->  2
totalProduct :  2 , i :  3 ... totalProduct * i -->  6
totalProduct :  6 , i :  4 ... totalProduct * i -->  24
totalProduct :  24 , i :  5 ... totalProduct * i -->  120

In [17]:
def fact(n):

    if n == 1:
        return 1
    else:
        return n * fact(n-1)

In [68]:
"""
Q. Find the factorial of the number
factorial of number is defined by the multiplication of numbers from 1 to number itself

5! = 5 * 4 * 3 * 2 * 1
5!  = 1 * 2 * 3 * 4 * 5

0! = 1
factorial of negative numbers does not exist
"""

number = 5
totalProduct = 1
for i in range(1 , number + 1) : 
    totalProduct = totalProduct * i #
    
print(f"Factorial of {number} = {totalProduct}")

Factorial of 5 = 120

In [71]:
"""
Q. Find the factorial of the number
factorial of number is defined by the multiplication of numbers from 1 to number itself

5! = 5 * 4 * 3 * 2 * 1
5!  = 1 * 2 * 3 * 4 * 5

0! = 1
factorial of negative numbers does not exist
"""

number = int( input("Write doen the number : ") )
totalProduct = 1
for i in range(1 , number + 1) : # 1 , 5 + 1 = 6
    totalProduct = totalProduct * i 
    
print(f"Factorial of {number} = {totalProduct}")

Write doen the number : 5
Factorial of 5 = 120

In [60]:
for i in range(1 , number + 1 ) : 
    print(i)

1
2
3
4
5

In [ ]:
# Find factorial of all valid numbers  :
inputList = [2 , -5 , 0 , 4 , 9 , -10 , 15, 0]
# output = [... , "Invalid" , 1 , ..... , ...... , "Invalid" , ......, 1]

In [12]:
def fib(first, second, n):

    k = 1
    print(first, end= ' ')
    print(second, end= ' ')
    while True:
        k = first + second

        if k>n:
            break

        print(k, end= ' ')
        
        first = second
        second = k

In [13]:
fib(0,1,50)

0 1 1 2 3 5 8 13 21 34

In [14]:
def fib(n):

    if n == 0:
        return 0

    if n == 1:
        return 1

    else:
        return fib(n-1) + fib(n-2)

In [19]:
if __name__ == '__main__':
    n = int(input('Enter the number: '))
    print(f'The number at {n+1}th position is --> {fib(n)}')

Enter the number:  5

The number at 6th position is --> 5

In [78]:
'''
Q. Create a fibanocci series starting with first 2 values and then limit is 10
first = 1, you will take it as 0
second = 2, you will take it as 1
given 2 numbers, next number will be sum of previous number

first , second, third
1    ,    2 ,     1 + 2 = 3
2 ,      3        , 2 + 3 = 5
3 ,      5        , 3 + 5 = 8
.
.
.
.
'''

first = 0
second = 1
for i in range(10) : # 0 ... 9
    print(".. Start")
    print("first -> ", first , "second -> ", second)
    third = first + second
    print("Next Number" , third)
    first = second
    second = third
    print(".. End")
    print()

# Neext Question : Take any 2 values from the user???

.. Start
first ->  0 second ->  1
Next Number 1
.. End

.. Start
first ->  1 second ->  1
Next Number 2
.. End

.. Start
first ->  1 second ->  2
Next Number 3
.. End

.. Start
first ->  2 second ->  3
Next Number 5
.. End

.. Start
first ->  3 second ->  5
Next Number 8
.. End

.. Start
first ->  5 second ->  8
Next Number 13
.. End

.. Start
first ->  8 second ->  13
Next Number 21
.. End

.. Start
first ->  13 second ->  21
Next Number 34
.. End

.. Start
first ->  21 second ->  34
Next Number 55
.. End

.. Start
first ->  34 second ->  55
Next Number 89
.. End

In [80]:
# Neext Question : Take any 2 values from the user???
first = 11
second = 2
for i in range(10) : # 0 ... 9
    third = first + second
    first = second
    second = third
    print(third)

13
15
28
43
71
114
185
299
484
783

In [53]:
# Q. Find if number is even or odd
# 20 => even , 3 => odd
# if remainder is 0 on dividing the number by 2

num = 10
if num % 2 == 0 : print("Even")
else : print("Odd")

Even

In [50]:
11%2

1

In [102]:
# If number if negative then STOP the PROGRAM, else show the SQUARE OF NUMBER  :

inputList = [2 , -5 , 0 , 4 , 9 , -10 , 15, 0]

for element in inputList : 
    if element < 0 : 
        break
        print("........................")
    else : 
        print(element ** 2)

4

In [103]:
# If number if negative then SKIP that NUMBER, else show the SQUARE OF NUMBER  :

inputList = [2 , -5 , 0 , 4 , 9 , -10 , 15, 0]

for element in inputList : 
    if element < 0 : 
        continue
        print("........................")
    else : 
        print(element ** 2)

4
0
16
81
225
0

In [ ]:
'''
Q. Find if number is prime or not
any number that has divisiors more than 1 and number itself
 2 3 5 7 11 13 17 19 23 .... they have divisors as 1 and number itself : PRIME Numbers
 6, 8 , 20 , 25 , 50 , 33 , 16 .... they have divisors more than as 1 and number itself : Not PRIME Numbers
'''

In [104]:
num = 15

for divisor in range(2 , num ):
    if num % divisor == 0 : # NOT PRIME
        print("Divisible by ---> ", divisor, "..................")
    else : # PRIME
        print("Not divisble by : ", divisor)

Not divisble by :  2
Divisible by --->  3 ..................
Not divisble by :  4
Divisible by --->  5 ..................
Not divisble by :  6
Not divisble by :  7
Not divisble by :  8
Not divisble by :  9
Not divisble by :  10
Not divisble by :  11
Not divisble by :  12
Not divisble by :  13
Not divisble by :  14

In [105]:
num = 15

for divisor in range(2 , num ):
    if num % divisor == 0 : # NOT PRIME
        print("Divisible by ---> ", divisor, "..................")
        break
    else : # PRIME
        print("Not divisble by : ", divisor)

Not divisble by :  2
Divisible by --->  3 ..................

In [108]:
num = 11

for divisor in range(2 , num ):
    if num % divisor == 0 : # NOT PRIME
        print("Its not a PRIME NUMBER")
        break
    else : # PRIME
        print("Its A Prime Number")

Its A Prime Number
Its A Prime Number
Its A Prime Number
Its A Prime Number
Its A Prime Number
Its A Prime Number
Its A Prime Number
Its A Prime Number
Its A Prime Number

In [107]:
num = 15

for divisor in range(2 , num ):
    if num % divisor == 0 : # NOT PRIME
        print("Its not a PRIME NUMBER")
        break
    else : # PRIME
        print("Its A Prime Number")

Its A Prime Number
Its not a PRIME NUMBER

In [115]:
num = 15

# Assign a value of BOOLEAN, depending on our logic
f = True  # I am ASSUMINBG That number is PRIME 

for divisor in range(2 , int( num / 2 )  ):
    if num % divisor == 0 : # NOT PRIME
        f = False
        break
    else : # PRIME
        f = True


if f : print(f'{num} is PRIME')
else : print(f'{num} is NOT PRIME')

15 is NOT PRIME