# Pandas Basic Operations

- understand about the columns or rows
- understand the nature of them...

In [2]:
import numpy as np
import pandas as pd

In [3]:
# step 1 -> check if data is sucessfully reaad and if its in the some tabular format

In [6]:
# dataframe - df
df = pd.read_excel('student_placement.xlsx')
print( df.head() )

  experience  job_desig   location  salary  placement_count
0    2-4 yrs  Analytics     Mumbai   6to10             4479
1   5-10 yrs  Analytics  Delhi NCR   6to10             1969
2    3-8 yrs     Growth     Mumbai  15to25             3319
3    2-6 yrs  Analytics  Bengaluru   6to10              330
4    6-8 yrs  Analytics  Delhi NCR  25to50             2665

In [8]:
# Shape of the dataset
print( df.shape ) # rows and columns count

print( df.shape[0] ) # rows count   - use loop
print( df.shape[1] ) # columns count - use loop

(105, 5)
105
5

In [13]:
# head -> display the top records of the dataset
# default is 5 
# dfName.head(count)

print( df.head() )
print()
print( df.head(3) )
print()
print( df.head(10) )

  experience  job_desig   location  salary  placement_count
0    2-4 yrs  Analytics     Mumbai   6to10             4479
1   5-10 yrs  Analytics  Delhi NCR   6to10             1969
2    3-8 yrs     Growth     Mumbai  15to25             3319
3    2-6 yrs  Analytics  Bengaluru   6to10              330
4    6-8 yrs  Analytics  Delhi NCR  25to50             2665

  experience  job_desig   location  salary  placement_count
0    2-4 yrs  Analytics     Mumbai   6to10             4479
1   5-10 yrs  Analytics  Delhi NCR   6to10             1969
2    3-8 yrs     Growth     Mumbai  15to25             3319

  experience   job_desig   location  salary  placement_count
0    2-4 yrs   Analytics     Mumbai   6to10             4479
1   5-10 yrs   Analytics  Delhi NCR   6to10             1969
2    3-8 yrs      Growth     Mumbai  15to25             3319
3    2-6 yrs   Analytics  Bengaluru   6to10              330
4    6-8 yrs   Analytics  Delhi NCR  25to50             2665
5    2-5 yrs  Consultant  Bengaluru    3to6              314
6   5-10 yrs   Analytics    Chennai  10to15             3382
7   8-13 yrs    Industry    Chennai  15to25             2922
8   5-10 yrs        Data  Bengaluru  15to25             2807
9   6-11 yrs        Data     Mumbai   6to10             1176

In [14]:
# tail -> display the bottom records of the dataset
# default is 5 
# dfName.tail(count)

print( df.tail() )
print()
print( df.tail(3) )
print()
print( df.tail(10) )

    experience  job_desig   location  salary  placement_count
100    6-9 yrs       Data  Bengaluru  15to25             3076
101    4-8 yrs  Analytics     Mumbai    3to6             3767
102   8-13 yrs  Analytics  Delhi NCR  25to50             2574
103    1-6 yrs     Senior  Bengaluru  15to25             1217
104    1-3 yrs  Analytics    Chennai  10to15              860

    experience  job_desig   location  salary  placement_count
102   8-13 yrs  Analytics  Delhi NCR  25to50             2574
103    1-6 yrs     Senior  Bengaluru  15to25             1217
104    1-3 yrs  Analytics    Chennai  10to15              860

    experience  job_desig   location  salary  placement_count
95     3-5 yrs       Data     Mumbai  10to15             4904
96    7-11 yrs       Data  Ahmedabad  10to15             1301
97   11-15 yrs   Business  Bengaluru  15to25              280
98     4-9 yrs  Analytics     Mumbai  10to15             1863
99     3-8 yrs     Growth     Mumbai  15to25             3319
100    6-9 yrs       Data  Bengaluru  15to25             3076
101    4-8 yrs  Analytics     Mumbai    3to6             3767
102   8-13 yrs  Analytics  Delhi NCR  25to50             2574
103    1-6 yrs     Senior  Bengaluru  15to25             1217
104    1-3 yrs  Analytics    Chennai  10to15              860

In [16]:
# info : define the structure of the dataset
df.info()

# datatype
# count of columns and rows
# column names
# datatypes (int64 -> integer, object -> sring , float64 -> float, bool ...)
# Memory Usage as per PVM

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       105 non-null    object
 1   job_desig        105 non-null    object
 2   location         105 non-null    object
 3   salary           105 non-null    object
 4   placement_count  105 non-null    int64
dtypes: int64(1), object(4)
memory usage: 4.2+ KB

In [17]:
# datatype
type(df)

pandas.core.frame.DataFrame

In [19]:
# column names
print( df.columns )

Index(['experience', 'job_desig', 'location', 'salary', 'placement_count'], dtype='object')

In [20]:
# Datatypes

df.dtypes

experience         object
job_desig          object
location           object
salary             object
placement_count     int64
dtype: object

In [22]:
# describe - statistics of columns

df.describe()

       placement_count
count       105.000000
mean       2183.628571
std        1374.740222
min          16.000000
25%         921.000000
50%        1989.000000
75%        3319.000000
max        5018.000000

In [23]:
# describe - statistics of columns

df.describe(include='all')

       experience  job_desig   location  salary  placement_count
count         105        105        105     105       105.000000
unique         41         19          6       6              NaN
top       2-5 yrs  Analytics  Bengaluru  15to25              NaN
freq           11         54         33      24              NaN
mean          NaN        NaN        NaN     NaN      2183.628571
std           NaN        NaN        NaN     NaN      1374.740222
min           NaN        NaN        NaN     NaN        16.000000
25%           NaN        NaN        NaN     NaN       921.000000
50%           NaN        NaN        NaN     NaN      1989.000000
75%           NaN        NaN        NaN     NaN      3319.000000
max           NaN        NaN        NaN     NaN      5018.000000

In [28]:
# Read the column
# dfName[[colname]]
# dfName[[c1, c2 , ...]]

selected_col = df[['location']]
print( selected_col )
print( type( selected_col ) )
print( selected_col.shape )

      location
0       Mumbai
1    Delhi NCR
2       Mumbai
3    Bengaluru
4    Delhi NCR
..         ...
100  Bengaluru
101     Mumbai
102  Delhi NCR
103  Bengaluru
104    Chennai

[105 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
(105, 1)

In [30]:
# Read the column
# dfName[[colname]]
# dfName[[c1, c2 , ...]]

selected_col = df[['location', "experience"]] # Can be used to rearrange the columns
print( selected_col )
print( type( selected_col ) )
print( selected_col.shape )

      location experience
0       Mumbai    2-4 yrs
1    Delhi NCR   5-10 yrs
2       Mumbai    3-8 yrs
3    Bengaluru    2-6 yrs
4    Delhi NCR    6-8 yrs
..         ...        ...
100  Bengaluru    6-9 yrs
101     Mumbai    4-8 yrs
102  Delhi NCR   8-13 yrs
103  Bengaluru    1-6 yrs
104    Chennai    1-3 yrs

[105 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
(105, 2)

In [33]:
# Read the column
# dfName[[colname]]
# dfName[[c1, c2 , ...]]

colNames = ['location', "experience", 'placement_count' , "job_desig"]
newDf = df[colNames] # Can be used to rearrange the columns
print( newDf.head() )
print( type( selected_col ) )
print( newDf.shape )

    location experience  placement_count  job_desig
0     Mumbai    2-4 yrs             4479  Analytics
1  Delhi NCR   5-10 yrs             1969  Analytics
2     Mumbai    3-8 yrs             3319     Growth
3  Bengaluru    2-6 yrs              330  Analytics
4  Delhi NCR    6-8 yrs             2665  Analytics
<class 'pandas.core.frame.DataFrame'>
(105, 4)

In [38]:
# Read SINGLE column as a series
# dfName[colname]

selected_col = df['location']
print( selected_col.head() )
print( type( selected_col ) )
print( selected_col.shape )

0       Mumbai
1    Delhi NCR
2       Mumbai
3    Bengaluru
4    Delhi NCR
Name: location, dtype: object
<class 'pandas.core.series.Series'>
(105,)

In [39]:
print( dir(df) )

['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__bool__', '__class__', '__contains__', '__copy__', '__dataframe__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_result', '_constructor', '_constructor_sliced', '_create_data_for_split_and_tight_to_dict', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_flags', '_from_arrays', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_getitem_nocopy', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_item_cache', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_mgr', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_to_dict_of_blocks', '_to_latex_via_styler', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'experience', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isetitem', 'isin', 'isna', 'isnull', 'items', 'iterrows', 'itertuples', 'job_desig', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'location', 'lt', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'placement_count', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'salary', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'sort_index', 'sort_values', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_orc', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [24]:
# Unique Values

In [ ]:
# Stats Values