# Pivots 

- helps to analyze the data based on the unique values inside the specific column

- compare values inside the categorical/string column with respect to other numberical columns


**dfName.groupby(column)**

**dfName.groupby([c1, c2])**

**dfName.groupby([c1, c2]).aggregate( New_columnName = (old_columnName, stats) )**


-- aggregate funciton came in 2014-15
-- agg funciton came in 2014-15

In [1]:
import pandas as pd
import numpy as np

In [3]:
myTable = pd.read_csv( "datasets/myTable.csv" )
myTable

    A1  A2  A3     A4    A5
0   15  16  21   blue    Up
1    3  13  18   blue    Up
2   13  13   6   blue    Up
3    9  12  21   blue    Up
4    4  13  14   blue    Up
5    6  13  24   blue    Up
6   11  12  16  green  Down
7   20  24   1  green  Down
8   15  25  15  green  Down
9   14  14   1  green  Down
10  11  14   9    red    Up
11   4  23  26    red    Up
12   2  16  20    red    Up
13   8  23   9    red  Down
14   7  26  28    red    Up
15   3  13  18   blue  Down
16  13  13   6   blue    Up
17   9  12  21   blue    Up
18   4  13  14   blue    Up
19   6  13  24   blue    Up
20  11  12  16  green  Down
21  20  24   1  green  Down
22  15  25  15  green    Up

In [10]:
myTable.groupby(['A4', "A5"]).mean()

# You have the understanding of that every OTHER column is numeric
# You are getting the same statistical answer for every column

                   A1     A2         A3
A4    A5
blue  Down   3.000000  13.00  18.000000
      Up     8.200000  13.10  16.900000
green Down  15.166667  18.50   8.333333
      Up    15.000000  25.00  15.000000
red   Down   8.000000  23.00   9.000000
      Up     6.000000  19.75  20.750000

In [9]:
myTable.groupby('A4').mean()

TypeError: Could not convert UpUpUpUpUpUpDownUpUpUpUp to numeric

In [25]:
# Analyze only on A4...

a4_group = myTable.groupby( by = "A4" ).aggregate( totalSum_A1 = ( 'A1', np.sum ), 
                                      mean_A2 = ( 'A2', np.mean ), 
                                      max_A3 = ( 'A3', np.max ), 
                                      mean_A1 = ( 'A1', np.mean ), 
                                      totalRecords = ("A1", np.size))

print( type( a4_group ) )
print( a4_group )

<class 'pandas.core.frame.DataFrame'>
       totalSum_A1    mean_A2  max_A3    mean_A1  totalRecords
A4
blue            85  13.090909      24   7.727273            11
green          106  19.428571      16  15.142857             7
red             32  20.400000      28   6.400000             5

In [26]:
a4_group.columns

Index(['totalSum_A1', 'mean_A2', 'max_A3', 'mean_A1', 'totalRecords'], dtype='object')

In [31]:
print( a4_group.index )

Index(['blue', 'green', 'red'], dtype='object', name='A4')

In [28]:
a4_group['totalRecords']

A4
blue     11
green     7
red       5
Name: totalRecords, dtype: int64

In [30]:
a4_group.totalRecords  
# call the columnNAme as Method if there are no spaces...

A4
blue     11
green     7
red       5
Name: totalRecords, dtype: int64

In [16]:
listName = [ 1 , 8 , 6 , 4 , 3 ]
print( listName )

print( min( listName ) )
print( max( listName ) )
print( sum( listName ) )
# print( mean( listName ) )

print( np.sum( listName ) )
print( np.min( listName ) )
print( np.max( listName ) )
print( np.mean( listName ) )
print( np.median( listName ) )
print( np.std( listName ) )

[1, 8, 6, 4, 3]
1
8
22
22
1
8
4.4
4.0
2.4166091947189146

In [23]:
# Analyze only on A5...

myTable.groupby( by = "A5" ).aggregate( totalSum_A1 = ( 'A1', np.sum ), 
                                      mean_A2 = ( 'A2', np.mean ), 
                                      max_A3 = ( 'A3', np.max ), 
                                      mean_A1 = ( 'A1', np.mean ), 
                                      totalRecords = ("A1", np.size))

      totalSum_A1    mean_A2  max_A3    mean_A1  totalRecords
A5
Down          102  18.375000      18  12.750000             8
Up            121  15.666667      28   8.066667            15

In [32]:
# Analyze only on A4...

myGroup = myTable.groupby( by = ["A5", "A4"] ).aggregate( totalSum_A1 = ( 'A1', np.sum ), 
                                      mean_A2 = ( 'A2', np.mean ), 
                                      max_A3 = ( 'A3', np.max ), 
                                      mean_A1 = ( 'A1', np.mean ), 
                                      totalRecords = ("A1", np.size))

print( myGroup )

            totalSum_A1  mean_A2  max_A3    mean_A1  totalRecords
A5   A4
Down blue             3    13.00      18   3.000000             1
     green           91    18.50      16  15.166667             6
     red              8    23.00       9   8.000000             1
Up   blue            82    13.10      24   8.200000            10
     green           15    25.00      15  15.000000             1
     red             24    19.75      28   6.000000             4

In [33]:
print( myGroup.index )

MultiIndex([('Down',  'blue'),
            ('Down', 'green'),
            ('Down',   'red'),
            (  'Up',  'blue'),
            (  'Up', 'green'),
            (  'Up',   'red')],
           names=['A5', 'A4'])

In [36]:
new_index = []

for ind in myGroup.index : 
    print(ind)
    new_index.append( ind[0]+"-"+ind[1] )

print(new_index)    
# 'Down', 'blue' -> 'Down-blue'

('Down', 'blue')
('Down', 'green')
('Down', 'red')
('Up', 'blue')
('Up', 'green')
('Up', 'red')
['Down-blue', 'Down-green', 'Down-red', 'Up-blue', 'Up-green', 'Up-red']

In [38]:
myGroup.index = new_index

In [39]:
myGroup

            totalSum_A1  mean_A2  max_A3    mean_A1  totalRecords
Down-blue             3    13.00      18   3.000000             1
Down-green           91    18.50      16  15.166667             6
Down-red              8    23.00       9   8.000000             1
Up-blue              82    13.10      24   8.200000            10
Up-green             15    25.00      15  15.000000             1
Up-red               24    19.75      28   6.000000             4

In [48]:
# Analyze only on A4...

myGroup = myTable.groupby( by = ["A5", "A4"] ).aggregate( totalSum_A1 = ( 'A1', np.sum ), 
                                      mean_A2 = ( 'A2', np.mean ), 
                                      max_A3 = ( 'A3', np.max ), 
                                      mean_A1 = ( 'A1', np.mean ), 
                                      totalRecords = ("A1", np.size))

print( myGroup )
myGroup = myGroup.sort_values(by = 'totalRecords', ascending=False)
print( myGroup )

            totalSum_A1  mean_A2  max_A3    mean_A1  totalRecords
A5   A4
Down blue             3    13.00      18   3.000000             1
     green           91    18.50      16  15.166667             6
     red              8    23.00       9   8.000000             1
Up   blue            82    13.10      24   8.200000            10
     green           15    25.00      15  15.000000             1
     red             24    19.75      28   6.000000             4
            totalSum_A1  mean_A2  max_A3    mean_A1  totalRecords
A5   A4
Up   blue            82    13.10      24   8.200000            10
Down green           91    18.50      16  15.166667             6
Up   red             24    19.75      28   6.000000             4
Down blue             3    13.00      18   3.000000             1
     red              8    23.00       9   8.000000             1
Up   green           15    25.00      15  15.000000             1